.places__paragraph {
    font-size: 18px;
    line-height: 29px;
    max-width: 484px;
    margin: 0 auto;
}

@media screen and (max-width: 1024) {
	.places__paragraph {
        max-width: 456px;        
        font-size: 16px;
        line-height: 26px;
	}
}

@media screen and (max-width: 768px) {
	.places__paragraph {
        max-width: 352px;        
        font-size: 16px;
        line-height: 26px;
	}
}

@media screen and (max-width: 580px) {
	.places__paragraph {
        max-width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.places__paragraph {
        max-width: 288px;
	}
}