.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    object-fit: cover;
    grid-gap: 16px 16px;
    max-width: 1184px;
    margin: auto;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
	.gallery {
        max-width: calc(100% - 96px);
	}
}

@media screen and (max-width: 768px) {
	.gallery {
		padding-top: 88px;
        max-width: calc(100% - 48px);
	}
}

@media screen and (max-width: 694px) {
	.gallery {
        grid-gap: 12px;
		padding-top: 64px;
        max-width: calc(100% - 32px);
	}
}