.header__link {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 18px;
    transition: .2s;
}

.header__link:hover {
    opacity: .8;
}

@media screen and (max-width: 694px) {
	.header__link {
        font-size: 18px;
        line-height: 20px;
	}
}